/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.what-is {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 600px;
}

.cards-title {
    align-self: center;
    border-bottom: 4px solid #00B172;
    margin-bottom: 50px;
}
.cards-title h2 {
    margin-bottom: 5px;
    font-size: 2em;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ftr img {
    width: 60%;
}

.ftr {
    text-align: center;
    width: 14%;
}

.ftr h3 {
    color: #00B172;
    font-size: 1.5em;
}

.ftr p {
    font-size: 1.3em;
}
