*{
    margin:0;
}
.image-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 900px;
    color: white;
}
.paragraph {
    width: 50%;
    font-size: 1em;
} 
.image-back h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}
.rectangle {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    bottom: 0;

    height: 800px;
    

    background: #00B172;
    
    display: auto;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
}

.text {
    font-size: 1em;
    color: white;
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
   

}






.image-app {
    display:flex;
    justify-content: flex-end;
    align-self: center;
    justify-self: flex-end;
    margin-right: 15%;
   

}

.image-app img {
    width: 60%;
}
body{
    font-family: Roboto, system-ui, sans-serif;
      font-size: 150%;
}

section img {
    width: 200px;
    margin:  15px 0px;
}

ul {
    position: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
  }
  nav{
      float: right;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: rgb(#1A1A1A);
    
  }
.what-is {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 600px;
}

.cards-title {
    align-self: center;
    border-bottom: 4px solid #00B172;
    margin-bottom: 50px;
}
.cards-title h2 {
    margin-bottom: 5px;
    font-size: 1.8em;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ftr img {
    width: 60%;
}

.ftr {
    text-align: center;
    width: 20%;
}

.ftr h3 {
    color: #00B172;
    font-size: 1.3em;
}

.ftr p {
    font-size: 1.2em;
}